{% extends 'base.html' %}

{% block content %}
    <h4> 장르: {{ subject }} </h4>
    {% for review in reviews %}
    <nav class="navbar border border-4 border-warning-subtle mt-4" style="border-radius: 0.5rem;">
        <div class="container-fluid">

        <a class="navbar-brand text-truncate" href="{% url 'reviews:detail' review.pk %}">
            {% if review.image %}
            <img src=" {{ review.image.url }}" class="img_middle me-4" alt="#" style="width: 6rem; height: 4rem;">
            {% endif %} {{review.title }} / {{ review.content }} ({{ comments | length }})
        </a>

        </div>
    </nav>
  {% endfor %}
{% endblock content %}

