{% extends 'base.html' %}
{% block content %}
  <h1>영화 리뷰 게시판</h1>
  {% if request.user.is_authenticated %}
    <h2>반갑습니다. 
      <a href="{% url 'accounts:profile' user.pk %}">{{ user }}</a>님 </h2>
  {% endif %}
  <a href="{% url 'reviews:new' %}">
    <h3>새로운 게시글 작성하기</h3>
  </a>
  {% for review in reviews %}
  <nav class="navbar border border-4 border-warning-subtle mt-2" style="border-radius: 0.5rem;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'reviews:detail' review.pk %}">{{ review.image }} {{review.title }} / {{ review.content }} ({{ comments | length }})</a>
    </div>
  </nav>
  {% endfor %}

{% endblock content %}
