{% extends 'base.html' %}
{% block content %}
  <h1>영화 리뷰 게시판</h1>
  {% if request.user.is_authenticated %}
    <h2>반갑습니다. 
      <a href="{% url 'accounts:profile' user.pk %}">{{ user }}</a>님 </h2>
    <form action="{% url 'accounts:logout' %}" method = 'POST'>
      {% csrf_token %}
      <input type="submit" value ='로그아웃'>
    </form>
    {% else %}
      <a href="{% url 'accounts:login' %}">로그인</a>
      <a href="{% url 'accounts:signup' %}">회원가입</a>

  {% endif %}
  <a href="{% url 'reviews:new' %}">
    <h3>새로운 게시글 작성하기</h3>
  </a>
  {% for review in reviews %}
  <nav class="navbar border border-4 border-warning-subtle mt-2" style="border-radius: 0.5rem;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'reviews:detail' review.pk %}">{{ review.image }} {{review.title }} / {{ review.content }} ({{ comments | length }})</a>
    </div>
  </nav>
  {% endfor %}
  <a href="{% url 'reviews:genre' 'SF' %}">SF</a>
  <a href="{% url 'reviews:genre' '멜로' %}">멜로</a>
  <a href="{% url 'reviews:genre' '느와르' %}">느와르</a>
  <a href="{% url 'reviews:genre' '액션' %}">액션</a>
  <a href="{% url 'reviews:genre' '범죄스릴러' %}">범죄스릴러</a>


{% endblock content %}
