{% extends 'base.html' %}
{% block content %}
    <header>
      <h1 class="text-center"> {{ user.username }}님의 프로필 페이지</h1>
    </header>
    <hr>
    <main>
      <div class="row">
        <div class="col">
          <div class="container d-flex justify-content-center">
              <div style="width: 10rem; height: 10rem;">
                {% if user.image %}
                  <img src="{{ user.image.url }}" alt=" " style="width: 10rem; height: 10rem;">
                {% endif %}
                </div>
          </div>
        </div>
        <div class="col">
          <div class="container d-flex justify-content-center">
            <h3>회원정보</h3>
            <ul>
            <li>username: {{ user.username }}</li>
            <li>email: {{ user.email }}</li>
            <li>마지막 접속: {{ user.last_login }}</li>
            <li>가입 일자: {{ user.date_joined }}</li>
            </ul>
          </div>
        </div>
      </div>
      <hr>
      <div class="container d-flex justify-content-center">
        <h2>작성한 후기 목록</h2>
        {% for review in reviews  %}
          <p>후기 번호: {{ review.pk }} </p>
          <p>제목: {{ review.title }} </p>
        {% endfor %}
      </div>
    </main>
    <footer>
      <div class="container d-flex justify-content-center">
        <a href="{% url 'accounts:update' %}" class="btn btn-outline-primary" role="button">회원정보 수정</a>
        <a href="{% url 'reviews:index' %}" class="btn btn-outline-danger" role="button">뒤로가기</a>
      </div>
    </footer>
{% endblock content %}